/* CSS */
ul#taskList {
	width: 300px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
}

li {
	display: flex;
	justify-content:space-between;
	background-color: lightblue;
	padding: 5px;
}

li:nth-child(2n+1) {
	background-color: lightskyblue;
}

li i {
	color: darkred;
}

li i:hover {
	color: red;
	text-shadow: 2px 2px 2px pink;
	cursor: pointer;
}